/*--------------------------------

Lineicons Free Web Font
Crafted by Lineicons.com Team
Version: 4.0

-------------------------------- */

@font-face {
  font-family: 'lineicons';
  src: url('../fonts/lineicons.eot');
  src: url('../fonts/lineicons.eot') format('embedded-opentype'),
       url('../fonts/lineicons.woff2') format('woff2'),
       url('../fonts/lineicons.woff') format('woff'),
       url('../fonts/lineicons.ttf') format('truetype'),
       url('../fonts/lineicons.svg') format('svg');
}

/* base class */
.lni {
  display: inline-block;
  font: normal normal normal 1em/1 'lineicons';
  color: inherit;
  flex-shrink: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* icons */
.lni-grid::before {
  content: "\eb2d";
}

.lni-grid-alt::before {
  content: "\eb2e";
}

.lni-hourglass::before {
  content: "\ea76";
}

.lni-volume-mute::before {
  content: "\ea97";
}

.lni-question-circle::before {
  content: "\eab4";
}


